:root {
    /* theme */
    /* main color */
    --clr-blue-5: #001059;
    --clr-green-3: #a3b449;
    --clr-pink-3: #cc86db;
    --clr-purple-3: #663ad5;
    /* blue color */
    --clr-blue-1: #A7C1FF;
    --clr-blue-2: #3F64FF;
    --clr-blue-3: #0729fa;
    --clr-blue-4: #061dac;
    /* header grey */        
    --clr-grey-1: #454E88;
    --clr-grey-2: #5B6EB5;
    --clr-grey-3: #8AA2D0;
    --clr-grey-4: #B0C2E0;
    --clr-grey-5: #D0DAED;
    /* green color */
    --clr-green-0: #DDE3B3;
    --clr-green-1: #c7d086;
    --clr-green-2: #AFBC5F;
    --clr-green-4: #717F31;
    /* pink color */
    --clr-pink-0: #F6EDFA;
    --clr-pink-1: #eed9f5;
    --clr-pink-2: #E2BCEB;
    --clr-pink-4: #A049B0;
    /* purple color*/
    --clr-purple-0: #bfb8fa;
    --clr-purple-1: #9E8FF6;
    --clr-purple-2: #7E62F0;
    --clr-purple-4: #4D26B1;
    --clr-white: #fff;       
    --ff-primary: "Noto Sans HK", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans HK", sans-serif;
    background: var(--clr-white);
    line-height: 1.5;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

/* header */
.headerNborder {
    position: sticky;  
    top: 0;		
    background-color: white;  
    z-index: 10;
    border-top: 6px solid transparent; 
    border-image: linear-gradient(to right, var(--clr-blue-5), var(--clr-blue-4)) 1;  
}

.header {
    margin: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    position: relative;
    gap: 40px;
}

.nav-logo img {
    margin-top: 5px;
    height: 8vh;
    max-height: 100px;
    min-height: 50px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: var(--clr-blue-4);
    letter-spacing: 0.1em;
    font-size: 1.1em;
    font-weight: bold;
}

.btn{
    background: var(--clr-blue-4);
    color:white;
    padding:0.25rem 0.75rem;
    display:inline-block;
    font-size: 0.875rem;
    border:2px solid var(--clr-blue-4);
    cursor:pointer;
    box-shadow: 2px 2px 0 0 white,4px 4px 0 0 var(--clr-blue-3);
}

.btn:hover{
    color:var(--clr-blue-4);
    background: var(--clr-blue-1);
    border:2px solid var(--clr-blue-1);
    letter-spacing: 0.1em;
    font-weight: bold;
    box-shadow: 3px 3px 0 0 white,6px 6px 0 0 var(--clr-blue-3);
    transform: translate(-2px,-2px);
}

.header-border {
    left: 0;
    bottom: -10;
    width: 100%;
    height: 20px;
    background-image: url("../images/UI/blue_b2.svg");
    background-repeat: repeat-x;
    background-size: cover;
    z-index: 1;
}

/* burger menu */
.burger-menu {
    display: none;
}

.burger-icon {
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.burger-icon::before {
    content: '☰';
}

.burger-menu:checked + .burger-icon::before {
    content: '✕';
}

.burger-menu:checked ~ .nav {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.burger-menu:checked ~ .nav a {
    padding: 10px 0;
    display: block;
}

@media (max-width: 800px) {
    .nav {
        display: none;
    }
    .burger-icon {
        display: block;
    }
}

.fa-house {
    color: var(--clr-grey-5);
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

ol.breadcrumb .breadcrumb-item::before {
    content: ">";
    margin: 0 0.5rem;
}

.breadcrumb {
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--clr-grey-1);
    padding: 0 1rem;
    color: var(--clr-grey-5);
    z-index: 20;
}

.breadcrumb a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--clr-blue-1);
}

.breadcrumb a:hover {
    color: var(--clr-blue-2);
    transition: all 0.3s ease-in-out;
}

.breadcrumb a:visited {
    color: var(--clr-blue-1);
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

p {
    padding: 10px;
    text-align: left;
}

.main-content{
z-index: 1;
}

.img {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#img1 {
    background-image: url("../images/coach_place1.jpg");
    background-attachment: fixed;
}

#img2 {
    background-image: url("../images/coach_place2.jpg");
    background-attachment: fixed;
}

#img3 {
    background-image: url("../images/coach_place3.jpg");
    background-attachment: fixed;
}

.content {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 0;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 8%;
    flex: 1 1 calc(33.33% - 2rem);
    padding: 4vw;
    gap: 2vw;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
  }

.coach-img {
    margin-bottom: 1rem;
}

.word {
    margin-top: 1rem; 
}

@media (max-width: 800px) {
    .content {
        grid-template-columns: 1fr;
        padding-top:100px;        
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
        padding: 2vw;
        gap: 3vw;
        /* min-height: 600px; */
    }
    .content p {
        font-size: 0.6rem;
        line-height:1.1;
        word-spacing:0.3rem;
    }

    .img{
        object-fit:contain;
    }
}


@media (max-width: 800px) and (max-height: 400px) {
    .coach-img img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .left {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main-container{overflow: scroll;
    }}



.coach-img {
    max-width: 100%;
    height: 5%;
}

.coach-img img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.image-box {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h2 {
    margin-top: 20px;
    font-size: clamp(20px, 4vw, 36px);
    color: var(--clr-blue-5);
    font-weight: 500;
}

span {
    font-size: 0.8em;
}

h4 {
    color: var(--clr-grey-1);
    font-size: clamp(16px, 3vw, 22px);
}

.right {
    display: grid;
    justify-content: space-evenly;
}

.course-link{
    color: #0729fa;
}

.line {
    flex-grow: 1;
    height: 4px;
    background-color: var(--clr-grey-2);
}

section p {
    word-spacing: var(--spacing);
}

.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-up 0.5s ease-out forwards;
    animation-play-state: paused;
  }
  
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up.visible {
    animation-play-state: running;
  }

/** footer */
.footer{
    background: var(--clr-blue-5);
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
}

.footer-content{
    padding: 10px;
    color:var(--clr-white);
    font-size: 1rem;
}

.footer-text{
    display: flex; 
    align-items: baseline; 
}

.footer-text p {
    line-height: 10px;
    padding: 0 10px;
}

.email-link{
    color:var(--clr-white);
}

.email-link:hover{
    color:var(--clr-blue-1);
}

.footer-icons{
    font-size: 1rem;
    margin-left:0.5rem;
    color: var(--clr-blue-2);
    transition: var(--transition);
    gap:10px;
}

.footer-icon:hover{
    color:white;
}

.copyright{   
    line-height: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.middle-contect{
    border-left: 1px solid var(--clr-blue-1);
    border-right: 1px solid var(--clr-blue-1);
}